@model OrderRequestVM

@{
	ViewData["Title"] = "Details";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<Center>
	<h1>Details Of Order Request</h1>
</Center>

<form asp-action="Details" asp-controller="OrderRequest" enctype="multipart/form-data">

	<br />
	<div class="form-group">
		<label for="Name">Offerd Price</label>
		<input class="form-control" type="text" asp-for="OfferdPrice" readonly>
	</div>
	<br />

	<div class="form-group">
		<h2 for="Name">Statues</h2>
		<br />
		@if (Model.Statues==0)
		{
			<label for="Name">Pending</label>

		}
		else if (Model.Statues==1)
		{
			<label for="Name">Accepted</label>

		}
		else if (Model.Statues==2)
		{
			<label for="Name">Rejected</label>

		}
	</div>
	<br />
		<br />
		<div class="form-group">
			<label for="Name">Car Name</label>
			<input class="form-control" type="text" asp-for="Cars.Car_Name" readonly>
	</div>
			<br />
			<div class="form-group">
				<label for="Name">Car Model</label>
				<input class="form-control" type="text" asp-for="Cars.Car_Model" readonly>
				<br />
	</div>
	<div class="form-group">
	  
	</div>
	<div class="col-12">

		<a asp-controller="OrderRequest" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary mr-1"><i class="feather icon-edit-1"></i> Edit</a>
		<button asp-controller="OrderRequest" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-outline-danger"><i class="feather icon-trash-2"></i> Delete</button>
		@if (Model.Statues == 0) {
			<td><a asp-controller="OrderRequest" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Accept This Request</a></td>
			<td><a asp-controller="OrderRequest" asp-action="Reject" asp-route-id="@Model.Id" class="btn btn-warning">Reject This Request</a></td>

		}
		else if (Model.Statues == 1) {
			<td><a asp-controller="OrderRequest" asp-action="Reject" asp-route-id="@Model.Id" class="btn btn-warning">Reject This Request</a></td>

		}
		else if (Model.Statues == 2) {
			<td><a asp-controller="OrderRequest" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Accept This Request</a></td>

		}
	</div>


</form>
