@using Microsoft.AspNetCore.Identity
@model ReportsVM
@inject SignInManager<ApplicationUser> signInManager
@{
    ViewData["Title"] = "Home Page !";
}


        <div class="content-body">
            <!-- Dashboard Analytics Start -->
            <section id="dashboard-analytics">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="card bg-analytics text-white">
                            <div class="card-content">
                                <div class="card-body text-center">
                                    <img src="~/app-assets/images/elements/decore-left.png" class="img-left" alt="card-img-left">
                                    <img src="~/app-assets/images/elements/decore-right.png" class="img-right" alt="card-img-right">
                                    <div class="avatar avatar-xl bg-primary shadow mt-0">
                                        <div class="avatar-content">
                                            <i class="feather icon-award white font-large-1"></i>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                <h1 class="mb-2 text-white">
                                    Hello 
                                    @if (signInManager.IsSignedIn(User)) {
                                        <div class="user-name">@User.Identity.Name</div>
                                    }
                                </h1>
                                        <p class="m-auto w-75">Welcome to  <strong>Carea</strong> Dashboard Admin </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">  
                        <div class="card">
                            <div class="card-header d-flex flex-column align-items-start pb-0">
                                <div class="avatar bg-rgba-primary p-50 m-0">
                                    <div class="avatar-content">
                                        <i class="feather icon-users text-primary font-medium-5"></i>
                                    </div>
                                </div>
                                <h2 class="text-bold-700 mt-1 mb-25">@Model.UsersCount</h2>
                                <p class="mb-0">Subscribers Gained</p>
                            </div>
                            <div class="card-content">
                                <div id="subscribe-gain-chart"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="card">
                            <div class="card-header d-flex flex-column align-items-start pb-0">
                                <div class="avatar bg-rgba-warning p-50 m-0">
                                    <div class="avatar-content">
                                        <i class="feather icon-package text-warning font-medium-5"></i>
                                    </div>
                                </div>
                        <h2 class="text-bold-700 mt-1 mb-25">@Model.CarCount</h2>
                                <p class="mb-0">All Cars</p>
                            </div>
                            <div class="card-content">
                                <div id="orders-received-chart"></div>
                            </div>
                        </div>
                    </div>


            <div class="col-md-6 col-12">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="row pb-50">
                                <div class="col-lg-6 col-12 d-flex justify-content-between flex-column order-lg-1 order-2 mt-lg-0 mt-2">
                                    <div>
                                       
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12 d-flex justify-content-between flex-column text-right order-lg-2 order-1">
                                    <div class="dropdown chart-dropdown">
                                      
                                    </div>
                                    <div id="avg-session-chart"></div>
                                </div>
                            </div>
                            <hr />
                            <div class="row avg-sessions pt-50">
                                <div class="col-6">
                                    <p class="mb-0">Orders Requests:@Model.OrderRequestCount</p>
                                    <div class="progress progress-bar-primary mt-25">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="50" aria-valuemax="100" style="width:50%"></div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <p class="mb-0">Users: @Model.UsersCount</p>
                                    <div class="progress progress-bar-warning mt-25">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="50" aria-valuemax="50" style="width:60%"></div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <p class="mb-0">Orders :@Model.CreateOrderCount</p>
                                    <div class="progress progress-bar-danger mt-25">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="70" aria-valuemax="100" style="width:70%"></div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <p class="mb-0">Cars:@Model.CarCount </p>
                                    <div class="progress progress-bar-success mt-25">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="90" aria-valuemax="100" style="width:90%"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
          
        </div>
            <div class="col-md-6 col-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between pb-0">
                        <h4 class="card-title">Support Tracker</h4>
                        <div class="dropdown chart-dropdown">
                        
                        
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="card-body pt-0">
                            <div class="row">
                                <div class="col-sm-2 col-12 d-flex flex-column flex-wrap text-center">
                                </div>
                                <div class="col-sm-10 col-12 d-flex justify-content-center">
                                    <div id="support-tracker-chart"></div>
                                </div>
                            </div>
                            <div class="chart-info d-flex justify-content-between">
                                <div class="text-center">
                                    <p class="mb-50">Brand Numbers</p>
                                    <span class="font-large-1">@Model.BrandCount</span>
                                </div>
                                <div class="text-center">
                                    <p class="mb-50">Complains Numbers </p>
                                    <span class="font-large-1">@Model.ComplainsCount</span>
                                </div>
                                <div class="text-center">
                                    <p class="mb-50">Orders Numbers</p>
                                    <span class="font-large-1">@Model.CreateOrderCount</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


            </section>
            <!-- Dashboard Analytics end -->

        </div>
