@model IEnumerable<CarsVM>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center>
    <h1>Index Of Cars</h1>
</center>



<section id="basic-datatable">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="dt-buttons btn-group">
                        <a asp-action="Create" asp-controller="Cars" class="btn btn-outline-primary" style="margin:20px">
                            <span><i class="feather icon-plus"></i></span>
                        </a>
                    </div>
                </div>
               
                <div class="card-content">
                    <div class="card-body card-dashboard">
                                             <div class="table-responsive">
                            <table class="table zero-configuration">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Car Name</th>
                                        <th>Car Model</th>
                                        <th>Rate</th>
                                        <th>Photo</th>
                                        <th>Details</th>
                                        <th>Update</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.Id</td>
                                            <td>@item.Car_Name</td>
                                            <td>@item.Car_Model</td>
                                            <td>@item.Rate</td>

                                            <td><a asp-controller="PhotoColor" asp-action="Create" asp-route-id="@item.Id" class="btn btn-success">Add Photo</a></td>

                                            <td><a asp-controller="Cars" asp-action="Details" asp-route-id="@item.Id" class="btn btn-success">Details</a></td>
                                            <td><a asp-controller="Cars" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Update</a></td>
                                            <td><a asp-controller="Cars" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a></td>
                                        </tr>
                                    }
                                <tfoot>
                                    <tr>
                                        <th>Id</th>
                                        <th>Car Name</th>
                                        <th>Car Model</th>
                                        <th>Details</th>
                                        <th>Update</th>
                                        <th>Delete</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
